spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  # Regular TPLs do not need views
  view: false

  # Include shared variants and versions
  include:
  - ../defaults.yaml
  - ../versions.yaml

  toolchains:
    gcc-13:
      - spec: cxxflags='-fPIC -pthread'
      - spec: cflags='-fPIC -pthread'
      - spec: '%c=gcc@13.3.1'
        when: '%c'
      - spec: '%cxx=gcc@13.3.1'
        when: '%cxx'
      - spec: '%fortran=gcc@13.3.1'
        when: '%fortran'
      - spec: '%openmpi@4.1.1'
        when: '%mpi'
    clang-17:
      # Force clang to use gcc-toolset-13 headers/libs instead of the system GCC (8.x),
      # otherwise some dependencies (notably hypre+cuda) can pick up libstdc++ headers from GCC 8.x
      # and fail with errors like "this declaration may not have extern \"C\" linkage".
      - spec: cxxflags='-fPIC -pthread --gcc-toolchain=/opt/rh/gcc-toolset-13/root/usr'
      - spec: cflags='-fPIC -pthread --gcc-toolchain=/opt/rh/gcc-toolset-13/root/usr'
      - spec: '%[virtuals=c]llvm@17.0.6+clang~flang~lld~lldb'
        when: '%c'
      - spec: '%[virtuals=cxx]llvm@17.0.6+clang~flang~lld~lldb'
        when: '%cxx'
      - spec: '%[virtuals=fortran]gcc@13.3.1'
        when: '%fortran'
      - spec: '%openmpi@4.1.1'
        when: '%mpi'

  packages:
    all:
      target: [x86_64]

    mpi:
      require:
      - openmpi@4.1.1

    blas:
      require:
      - "netlib-lapack"
    lapack:
      require:
      - "netlib-lapack"

    llvm:
      externals:
      - spec: llvm@17.0.6+clang~flang~lld~lldb
        prefix: /usr
        extra_attributes:
          compilers:
            # Use wrappers that bake in --gcc-toolchain for gcc-toolset-13, so NVCC's -ccbin
            # doesn't accidentally pick GCC 8 headers when compiling CUDA sources.
            c: /usr/local/bin/clang-gcc13
            cxx: /usr/local/bin/clang++-gcc13
    gcc:
      externals:
      - spec: gcc@13.3.1 languages:='c,c++,fortran'
        prefix: /opt/rh/gcc-toolset-13/root/usr
        extra_attributes:
          compilers:
            c: /opt/rh/gcc-toolset-13/root/usr/bin/gcc
            cxx: /opt/rh/gcc-toolset-13/root/usr/bin/g++
            fortran: /opt/rh/gcc-toolset-13/root/usr/bin/gfortran

    autoconf:
      version: [2.71]
      buildable: false
      externals:
      - spec: autoconf@2.71
        prefix: /usr
    automake:
      version: [1.16.5]
      buildable: false
      externals:
      - spec: automake@1.16.5
        prefix: /usr
    cmake:
      version: [3.28.6]
      buildable: false
      externals:
      - spec: cmake@3.28.6
        prefix: /usr/local
    cuda:
      buildable: False
      externals:
      - spec: cuda@12.9.1 +allow-unsupported-compilers
        prefix: /usr/local/cuda
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.18
        prefix: /usr

    netlib-lapack:
      buildable: false
      externals:
      - spec: netlib-lapack@3.8.0
        prefix: /usr
    netlib-blas:
      buildable: false
      externals:
      - spec: netlib-blas@3.8.0
        prefix: /usr
    openmpi:
      buildable: false
      externals:
      - spec: openmpi@4.1.1
        prefix: /usr/lib64/openmpi
    perl:
      buildable: false
      externals:
      - spec: perl@5.26.3
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@1.4.2
        prefix: /usr
    python:
      buildable: false
      externals:
      - spec: python@3.6.8
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.34
        prefix: /usr
    unzip:
      buildable: false
      externals:
      - spec: unzip@6.0
        prefix: /usr
    xz:
      buildable: false
      externals:
      - spec: xz@5.2.5
        prefix: /usr
